@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0B0E11;
  --foreground: #EAECEF;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-feature-settings: "tnum";
  font-variant-numeric: tabular-nums;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #2B3139;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #474D57;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
